@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Medium'),
    url('@/assets/fonts/sf-ui-display-medium-58646be638f96.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SF UI Display Heavy'),
    url('@/assets/fonts/sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}
