@import 'src/styles/mixin.scss';

.description-book {
  color: #888cac;
  @include adaptiv-fontMin(18, 12);
  letter-spacing: 0.36px;
  margin-bottom: 33px;
  line-height: 26px;
  &__text {
    margin: 0;
    color: #1c1f41;
    letter-spacing: 0.36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    &--rolled-up {
      -webkit-line-clamp: 3;
    }
    &--deployed {
      -webkit-line-clamp: 100;
    }
  }
}

.expand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000eb9;
  @include adaptiv-fontMin(18, 12);
  line-height: 26px;
  letter-spacing: 0.36px;
  margin-bottom: 42px;
  cursor: pointer;
  padding-left: 0;
  margin-top: -30px;
  img {
    margin-right: 10px;
  }
}
