.modal-feedback {
  padding-top: 50px;
  &__title {
    font-size: 30px;
    color: #1c1f41;
    margin-bottom: 45px;
  }
  &__description {
    max-width: 70%;
    text-align: center;
    letter-spacing: 0.42px;
    font-size: 21px;
    margin-bottom: 66px;
  }
  &__email {
    color: #58b948;
    letter-spacing: 0.42px;
  }
}

.close {
  align-self: flex-end;
  padding-right: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}
